.card .iconify:hover {
  cursor: pointer;
}

.investment-pós {
  background-color: #6366f1;
}

.investment-pré {
  background-color: #d946ef;
}

.investment-ipca {
  background-color: #f43f5e;
}

.investment-renda-variável {
  background-color: #eab308;
}
